[user]
	name = Andy Klimczak
	email = andyklimczak@fastmail.com
[alias]
	co = checkout
  cob = checkout -b
  c = commit
  a = add
  p = pull --rebase --prune
  pup = push --set-upstream origin
  po = push origin
  s = status -sb
  d = diff --word-diff
  b = branch
  all = add -A
  lf = log --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)%an%C(reset)%n ''          %C(bold magenta)%s%C(reset) %C(white)%b%C(reset)'
  l = log --color --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ds = diff --staged
  f = fetch -v --all
  cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  r = rebase
  bd = branch -D
  wipeall = !git checkout -f && git clean -df
  bl = for-each-ref --sort=-committerdate refs/heads/ --format="%(committerdate:short)%09%(authorname)%09%1B[0;33m%(refname:short)%1B[m%09"
  wipe = !git checkout -- . && git clean -df
  dlast = diff HEAD^
  repoclean = !git count-objects -v && git gc --aggressive && git prune && git fsck --full && git count-objects -v
  cm = commit -m
  m = merge --no-ff 
  una = reset HEAD
  goback = reset HEAD~1
  amend = commit --amend
  listmerged = "!git branch --merged | grep -v '\\*'"
  ca = commit -a
  stashup = !git stash && git p && git stash apply
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
