[user]
  name = Andy Klimczak
  email = andyklimczak@fastmail.com
[alias]
  co = checkout
  cob = checkout -b
  cS = commit -S
  c = commit
  a = add
  p = pull --rebase --prune
  pup = push --set-upstream origin
  po = push origin
  s = status -sb
  d = diff
  dt = difftool
  b = branch
  ap = add -p
  all = add -A
  lf = log --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)%an%C(reset)%n ''          %C(bold magenta)%s%C(reset) %C(white)%b%C(reset)'
  l = log --color --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ds = diff --staged
  f = fetch -v --all
  cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  r = rebase
  rs = rebase --autostash
  bd = branch -D
  wipeall = !git checkout -f && git clean -df
  bl = for-each-ref --sort=-committerdate refs/heads/ --format="%(committerdate:short)%09%(authorname)%09%1B[0;33m%(refname:short)%1B[m%09"
  wipe = !git checkout -- . && git clean -df
  dlast = diff HEAD^
  repoclean = !git count-objects -v && git gc --aggressive && git prune && git fsck --full && git count-objects -v
  cm = commit -m
  m = merge --no-ff
  una = reset HEAD
  undo = reset --soft HEAD^
  amend = commit --amend --no-edit
  amendm = commit --ammend
  listmerged = "!git branch --merged | grep -v '\\*'"
  ca = commit -a
  stashup = !git stash && git p && git stash pop
  svnwipe = !git clean -fd && git svn mkdirs
  standup = !git log --since yesterday --pretty=short --author `git config user.email`
  ;undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
  prune = fetch --prune

[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
  followTags = true
[status]
  showUntrackedFiles = all
[svn]
  rmdir = true
[diff]
  tool = vimdiff
;[color "diff"]
  ;old = red strike
  ;new = green italic
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = red
  untracked = cyan
[merge]
  conflictstyle = diff3
[mergetool]
  prompt = false
